* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.card-body {
   font-size: 24px;
}

.score {
    color: blue;
    float: left;
    padding-left: 20px;
}

#timer {
    float: right;
    padding-right: 30px; 
 }

.time {
    float: right;
    padding-right: 20px;
}

h1 {
    padding-top: 150px;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
}

p {
    padding: 20px;
    font-size: 20px;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
}

.btn {
    text-align: center;
    background-color: blue;
    border-color: #64a29a;
    color: white;
    font-size: 24px;
    padding: 0px 12px 0px 12px;
    margin: 5px; 
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
  }

  /* Quiz Page styling */
.quizChallengePage {
    align-items: center !important;
    text-align: center !important; 
}

#quizQuestionHeader {
    font-size: 25px;
    font-weight: bolder; 
    padding-top: 100px;
    padding-left: 15%; 
    padding-bottom: 15px; 
}

/* Quiz Questions Page */
li {
    list-style-type: none; 
    padding-left: 15%; 
}

/* .questionButton {
    text-align: center !important;
    background-color: #8064A2 !important;
    border-color: #8064A2 !important;
    color: white !important;
    font-size: 22px !important;
    padding: 0px 12px 0px 12px !important;
    margin: 5px; 
} */

#answerResponse {
    font-style: italic;
    color: grey;
    font-size: 15px;
    padding-left: 15%;  
}

#allDone {
    font-weight: bolder;
    padding-top: 100px;
    padding-left: 15%;
}

/* Final Scores Page */
#finalScoreIs {
    padding-left: 15% !important;
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
}

.row {
    align-items: center !important;
    text-align: center !important; 
    padding-left: 15% !important;
    padding-right: 15% !important;
}

#highScores {
    text-align: left;
    padding-top: 150px;
    font-weight: bolder; 
}

#highScoresPage {
    margin-left: 15%; 
    margin-right: 15%;
}