* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.card-body {
   font-size: 24px;
}

.score {
    color: blue;
    float: left;
    padding-left: 20px;
}

#timer {
    float: right;
    padding-right: 30px; 
 }
 
.time {
    float: right;
    padding-right: 20px;
}

h1 {
    padding-top: 150px;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
}

p {
    padding: 20px;
    font-size: 20px;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
}

.btn {
    text-align: center;
    background-color: blue;
    border-color: #64a29a;
    color: white;
    font-size: 24px;
    padding: 0px 12px 0px 12px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
  }

  /* Quiz Page styling */
.quizChallengePage {
    align-items: center !important;
    text-align: center !important; 
}

#quizQuestionHeader {
    font-size: 25px;
    font-weight: bolder; 
    padding-top: 100px;
    padding-left: 15%; 
    padding-bottom: 15px; 
}