/* Common elements styling */
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.card-body {
   font-size: 24px;
}

.score {
    color: blue;
    float: left;
    padding-left: 20px;
}

#timer {
    float: right;
    padding-right: 30px; 
 }

.time {
    float: right;
    padding-right: 20px;
}

h1 {
    padding-top: 150px;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
}

p {
    padding: 20px;
    font-size: 20px;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
}

.btn {
    text-align: center;
    background-color: blue;
    border-color: #64a29a;
    color: white;
    font-size: 24px;
    padding: 0px 12px 0px 12px;
    margin: 5px; 
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
  }

/* Home Page styling */
.quizChallengePage {
    align-items: center !important;
    text-align: center !important; 
}

#createLi {
    list-style-type: none; 
    padding: 5px 15px;
    background-color: #d6d6bd;
    margin-top: 10px;
    width: 50%;
    font-size: 18px;
    color: black;

}

/* Quiz Questions Page */
#quizQuestionHeader {
    font-size: 25px;
    font-weight: bolder; 
    padding-top: 100px;
    padding-left: 15%; 
    padding-bottom: 15px; 
}

.questions {
    list-style-type: none; 
    padding-left: 15%;     
    margin-top: 10px;
    width: 50%;
    font-size: 18px;
    color: white;

}

#answerResponse {
    font-style: italic;
    color: grey;
    font-size: 15px;
    padding-left: 15%;  
}

/* Final Score Page */
#allDone {
    font-weight: bolder;
    padding-top: 100px;
    padding-left: 15%;
}

#finalScoreIs {
    padding-left: 15% !important;
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
}

.row {
    align-items: center !important;
    text-align: center !important; 
    padding-left: 15% !important;
    padding-right: 15% !important;
}

/* High Scores Page */
#highScores {
    text-align: left;
    padding-top: 150px;
    font-weight: bolder; 
}

#highScoresPage {
    margin-left: 15%; 
    margin-right: 15%;
}